<li class="forecast-item list-group-item">
    <p><b>Temperature: </b>${temperature}</p>
    <p><b>Time: </b>${time}</p>
    <p><b>Summary: </b>${summary}</p>
    <p><b>Precipitation: </b>${precipType}</p>
    <p><b>Wind Speed: </b>${windSpeed}</p>
    <p><b>Wind Bearing: </b>${windBearing}</p>
    <p><b>Pressure: </b>${pressure}</p>
</li>

