html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

div.map-container {
  height: 484px;
}

.side-panel {
  height: auto;
  max-height: 600px;
  overflow-x: hidden;
  .forecast-item {
    &:hover {
      background-color: #f0f0f0;
    }
  }
}
