html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

div.map-container {
  height: 484px;
}

.side-panel {
  top: 0;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  .flight-details {
    padding-top: 60px;
  }
  .forecast-item {
    &:hover {
        background-color: #f0f0f0;
    }
  }
}
